.contentSkill {
    background-color: #202020;
    border-top: 3px solid #3DCADB;
    border-bottom: 3px solid #3DCADB;
}

.contentSkill h2 {
    color: #3DCADB;
    margin: 10px 0 0 0;
    font-size: 30px;
}

.about {
    color: #fff;
    margin: 20px 100px
}

.contentSkill svg {
    color: #fff;
    font-size: 30px;
    margin: 10px 5px
}

.icon {
    width: 15%;
    display: grid;
    background-color: #2E2E2E;
    margin: 10px 10px;
    align-content: center;
    border-radius: 10px;
}

.icon svg {
    margin: 10px auto;
    font-size: 40px;
}

.icon p {
    color: #fff;
    margin: 0 10px 5px 10px;
    font-size: 20px;
}

.icons {
    margin: 20px auto;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.soft {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.soft h2 {
    grid-column-end: 5;
    grid-column-start: 1;
    color: #3DCADB
}

.soft ul {
    color: #fff;
    font-size: 20px
}

@media only screen and (max-width: 500px) {
    .icons {
        width: 90%;
        padding-bottom: 20px;
    }
    .about {
        color: rgb(185, 180, 180);
        margin: 20px 20px
    }
}