.menuBar{
    margin: 0;
    height: 50px;
    border-bottom: 5px solid #70e000;
}
.menuBar svg{
    color: #fff;
    font-size: 30px;
}
.bar{
    background-color:#282c34;
}
.barIcon{
    position: absolute;
    right: 7px;
    top: 7px;
}
.icon{
    position: absolute;
    left: 7px;
    top: 7px;
}
.btnId{
    display: none;
}
.containerMenu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
.btnId:checked ~ .containerMenu{
    opacity: 1;
    visibility: visible;
}
.contMenu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 120%;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
.btnId:checked ~ .containerMenu .contMenu{
    transform: translateX(0%);
}
.contMenu nav{
    transform: translateY(15%);
}
.contMenu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.contMenu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.contMenu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
