.bar {
  background-color: #202020;
  position: fixed;
  min-height: 80px;
  width: 100%;
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  background-color: #202020;
  position: fixed;
  z-index: 1;
}

.barIcon {
  color: #fff;
  font-size: 40px;
  position: absolute;
  left: 10px;
  top: 20px
}

.menuIcon {
  color: #fff;
  font-size: 35px;
  position: absolute;
  right: 10px;
  top: 20px
}

.btnMenu {
  display: none
}

.btnId {
  display: none;
}

.containerMenu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

.btnId:checked~.containerMenu {
  z-index: 2;
  opacity: 1;
  visibility: visible;
  position: fixed;
}

.contMenu {
  z-index: 1;
  width: 100%;
  max-width: 250px;
  background: #1c1c1c;
  height: 100%;
  position: fixed;
  transition: all 500ms ease;
  transform: translateX(100%);
}

.btnId:checked~.containerMenu .contMenu {
  transform: translateX(50%);
}

.contMenu nav {
  transform: translateY(15%);
}

.contMenu nav a {
  display: block;
  text-decoration: none;
  margin: 10px auto;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}

.contMenu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}

.contMenu label {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.bar a {
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(#3DCADB, #3DCADB);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.bar a:hover, .bar a:focus {
  background-size: 100% 2px;
  color: #3DCADB;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .containerMenu {
    position: fixed
  }
  .contMenu {
    position: fixed
  }
  .sidebar {
    display: none
  }
  .btnMenu {
    display: block
  }
  .bar a {
    display: none
  }
}