@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: #202020
}

html {
  width: 100%;
  height: 100%;
  background-color: #202020
}

code {
  height: 100%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #202020
}

body::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 25px;
}

svg {
  color: #fff
}